In [4]:
import pandas as pd
from pathlib import Path

from data_management_von_gaudecker.config import SRC, BLD
from data_management_von_gaudecker.data_loader.data_loader import dta_loader

In [5]:
SRC.resolve()

PosixPath('/Users/felixschmitz/Library/Mobile Documents/com~apple~CloudDocs/Academia/Education/Master/Bonn/Semester1/AdvancedModules/EffectiveProgrammingPracticesForEconomists/data_management_von_gaudecker/src/data_management_von_gaudecker')

In [6]:
PATH = SRC / "data" / "V37" / "biobirth.dta"
raw = dta_loader(PATH)

In [10]:
raw["hh_id"]

KeyError: 'hh_id'

In [7]:
raw.head()

,cid,pid,sex,gebjahr,biovalid,bioinfo,bioyear,bioage,biokids,sumkids,...,kidmon11,kidmon10,kidmon12,kidmon13,kidmon14,kidmon15,kidmon16,kidmon17,kidmon18,kidmon19
0,19.0,101.0,[1] maennlich,1930.0,[10] keine Geburtsbiographie,"[5] nomatch, only brutto (proxy)",[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,1.0,...,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu
1,19.0,102.0,[2] weiblich,1940.0,[31] Geburtsbio (mit Kindern),"[2] match, bio (self-rep) + brutto (proxy)",1984.0,44.0,2.0,2.0,...,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu
2,19.0,103.0,[1] maennlich,1963.0,[10] keine Geburtsbiographie,"[5] nomatch, only brutto (proxy)",[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,1.0,...,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu
3,27.0,201.0,[2] weiblich,1926.0,[31] Geburtsbio (mit Kindern),"[1] perfect match, bio (self-rep) + brutto (pr...",1984.0,58.0,2.0,2.0,...,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu
4,27.0,202.0,[2] weiblich,1956.0,[30] Geburtsbio (ohne Angaben zu Kindern),"[4] nomatch, only bio (self-rep)",1985.0,29.0,0.0,0.0,...,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu,[-2] trifft nicht zu

In [9]:
raw.head().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 86 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cid       5 non-null      category
 1   pid       5 non-null      category
 2   sex       5 non-null      category
 3   gebjahr   5 non-null      category
 4   biovalid  5 non-null      category
 5   bioinfo   5 non-null      category
 6   bioyear   5 non-null      category
 7   bioage    5 non-null      category
 8   biokids   5 non-null      category
 9   sumkids   5 non-null      category
 10  kidpnr01  5 non-null      category
 11  kidpnr02  5 non-null      category
 12  kidpnr03  5 non-null      category
 13  kidpnr04  5 non-null      category
 14  kidpnr05  5 non-null      category
 15  kidpnr06  5 non-null      category
 16  kidpnr07  5 non-null      category
 17  kidpnr08  5 non-null      category
 18  kidpnr09  5 non-null      category
 19  kidpnr10  5 non-null      category
 20  kidpnr11  5 non-null      category
 21  kidpnr12  5 non-null      category
 22  kidpnr13  5 non-null      category
 23  kidpnr14  5 non-null      category
 24  kidpnr15  5 non-null      category
 25  kidpnr16  5 non-null      category
 26  kidpnr17  5 non-null      category
 27  kidpnr18  5 non-null      category
 28  kidpnr19  5 non-null      category
 29  kidgeb01  5 non-null      category
 30  kidgeb02  5 non-null      category
 31  kidgeb03  5 non-null      category
 32  kidgeb04  5 non-null      category
 33  kidgeb05  5 non-null      category
 34  kidgeb06  5 non-null      category
 35  kidgeb07  5 non-null      category
 36  kidgeb08  5 non-null      category
 37  kidgeb09  5 non-null      category
 38  kidgeb10  5 non-null      category
 39  kidgeb11  5 non-null      category
 40  kidgeb12  5 non-null      category
 41  kidgeb13  5 non-null      category
 42  kidgeb14  5 non-null      category
 43  kidgeb15  5 non-null      category
 44  kidgeb16  5 non-null      category
 45  kidgeb17  5 non-null      category
 46  kidgeb18  5 non-null      category
 47  kidgeb19  5 non-null      category
 48  kidsex01  5 non-null      category
 49  kidsex02  5 non-null      category
 50  kidsex03  5 non-null      category
 51  kidsex04  5 non-null      category
 52  kidsex05  5 non-null      category
 53  kidsex06  5 non-null      category
 54  kidsex07  5 non-null      category
 55  kidsex08  5 non-null      category
 56  kidsex09  5 non-null      category
 57  kidsex10  5 non-null      category
 58  kidsex11  5 non-null      category
 59  kidsex12  5 non-null      category
 60  kidsex13  5 non-null      category
 61  kidsex14  5 non-null      category
 62  kidsex15  5 non-null      category
 63  kidsex16  5 non-null      category
 64  kidsex17  5 non-null      category
 65  kidsex18  5 non-null      category
 66  kidsex19  5 non-null      category
 67  kidmon01  5 non-null      category
 68  kidmon02  5 non-null      category
 69  kidmon03  5 non-null      category
 70  kidmon04  5 non-null      category
 71  kidmon05  5 non-null      category
 72  kidmon06  5 non-null      category
 73  kidmon07  5 non-null      category
 74  kidmon08  5 non-null      category
 75  kidmon09  5 non-null      category
 76  kidmon11  5 non-null      category
 77  kidmon10  5 non-null      category
 78  kidmon12  5 non-null      category
 79  kidmon13  5 non-null      category
 80  kidmon14  5 non-null      category
 81  kidmon15  5 non-null      category
 82  kidmon16  5 non-null      category
 83  kidmon17  5 non-null      category
 84  kidmon18  5 non-null      category
 85  kidmon19  5 non-null      category
dtypes: category(86)
memory usage: 9.2 MB